@media (max-width: 578px) and (min-width: 478px) {
  .standard {
    height: 100vh;
  }
  .columned {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .rowed {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .big {
    height: 8em;
  }
  .medium {
    height: 5em;
  }
  .small {
    height: 3em;
  }
  .xsmall {
    height: 1em;
  }
  .space {
    width: 3em;
  }
  /* divs */

  .wafe {
    font-family: "Montserrat";
    font-weight: 800;
    color: #f5f5f5;
    font-size: 100px;
  }
  .developer {
    font-family: "Josefin Sans";
    font-weight: 400;
    color: #f5f5f5;
    font-size: 40px;
  }
  .wafebut {
    flex-direction: column;
  }
  .link {
    font-family: "Montserrat";
    font-weight: 500;
    color: #f5f5f5;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1em;
    margin: 0.5em 0;
    transition-duration: 0.2s;
    border-radius: 0.2em;
  }
  .twitter {
    background-color: #1da1f2;
  }
  .github {
    background-color: #333333;
  }
  .discord {
    background-color: #738adb;
  }
  .twitter:hover {
    box-shadow: 0px 0px 10px rgba(29, 161, 242, 0.5);
  }
  .discord:hover {
    box-shadow: 0px 0px 10px rgba(115, 138, 219, 0.5);
  }
  .github:hover {
    box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.5);
  }
  .logo {
    margin-right: 0.5em;
    width: 2em;
  }
  .who {
    font-family: "Montserrat";
    font-weight: 800;
    color: #f5f5f5;
    font-size: 50px;
  }
  .desctext {
    font-family: "Montserrat";
    font-weight: 400;
    color: #f5f5f5;
    font-size: 20px;
    text-align: center;
  }
  .desc {
    width: 20em;
  }
  .wngtitle {
    font-family: "Montserrat";
    font-weight: 800;
    color: #f5f5f5;
    font-size: 50px;
  }
  .desccontent {
    font-family: "Montserrat";
    font-weight: 400;
    color: #f5f5f5;
    font-size: 20px;
    text-align: center;
    width: 25em;
    margin-bottom: 1em;
  }
  .wngdescription {
    width: 20em;
    text-align: center;
  }
  .terminal {
    display: none;
  }
  .wngimage {
    display: none;
  }
  .wngimg {
    display: none;
  }
  .wngbuttons {
    margin-top: 1em;
  }
  .wngbutton {
    font-family: "Montserrat";
    font-weight: 400;
    color: #f5f5f5;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1em;
    margin: 0 0.5em;
    transition-duration: 0.2s;
    border-radius: 0.2em;
    background-color: #c33700;
  }
  .wngbutton:hover {
    font-size: 24px;
  }
  /* LABS RUST*/
  .labsrustsec {
    background-color: #15212a;
  }

  .strong {
    font-weight: 800;
  }

  .labsrustdescription {
    width: 25em;
  }
  .labsrustimg {
    display: none;
  }
  /* SCROLL */
  .prevornext {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1rem;
    padding: 0.1em 0.25em;
    border-radius: 0.1em;
    border: 0.05em solid #f5f5f5;
  }
  .prevornext:hover {
    border-style: dotted;
  }
}
