@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

* {
  font-family: "Josefin Sans";
  font-weight: 400;
  color: #f5f5f5;
  font-size: 18px;
}
section {
  height: 100vh;
}
.namesec {
  background-color: #042037;
  height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.desc {
  background-color: #123652;
  height: 103vh;
}
.standard-section {
  height: 100vh;
}

/* divs */
.name {
  font-family: "Montserrat";
  font-weight: 800;
  color: #f5f5f5;
  font-size: 100px;
}
