@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@200;300;400;500;600;700;800;900;1000&display=swap");
* {
  font-family: "Josefin Sans";
  font-weight: 400;
  color: #f5f5f5;
  font-size: 18px;
}

/* sections */

.namesec {
  background-color: #20272c;
}
.descsec {
  background-color: #15212a;
}
.wngsec {
  background-color: #20272c;
}

/* utils */

.standard {
  height: 100vh;
}
.columned {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rowed {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.big {
  height: 8em;
}
.medium {
  height: 5em;
}
.small {
  height: 3em;
}
.xsmall {
  height: 1em;
}
.space {
  width: 5em;
}
/* divs */

.wafe {
  font-family: "Montserrat";
  font-weight: 800;
  color: #f5f5f5;
  font-size: 100px;
}
.developer {
  font-family: "Josefin Sans";
  font-weight: 400;
  color: #f5f5f5;
  font-size: 40px;
}
.link {
  font-family: "Montserrat";
  font-weight: 500;
  color: #f5f5f5;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1em;
  margin: 0 0.5em;
  transition-duration: 0.2s;
  border-radius: 0.2em;
}
.twitter {
  background-color: #1da1f2;
}
.github {
  background-color: #333333;
}
.discord {
  background-color: #738adb;
}
.twitter:hover {
  box-shadow: 0px 0px 10px rgba(29, 161, 242, 0.5);
}
.discord:hover {
  box-shadow: 0px 0px 10px rgba(115, 138, 219, 0.5);
}
.github:hover {
  box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.5);
}
.logo {
  margin-right: 0.5em;
  width: 2em;
}
.who {
  font-family: "Montserrat";
  font-weight: 800;
  color: #f5f5f5;
  font-size: 50px;
}
.desctext {
  font-family: "Montserrat";
  font-weight: 400;
  color: #f5f5f5;
  font-size: 20px;
  text-align: center;
}
.desc {
  width: 20em;
}
.wngtitle {
  font-family: "Montserrat";
  font-weight: 800;
  color: #f5f5f5;
  font-size: 50px;
}
.desccontent {
  font-family: "Montserrat";
  font-weight: 400;
  color: #f5f5f5;
  font-size: 20px;
  text-align: center;
  width: 25em;
}
.wngdescription {
  width: 25em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.terminal {
  display: flex;
}
.wngimage {
  display: none;
}
.wngimg {
  width: 30em;
  height: 17em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.2s;
}
.wngimg:hover .terminal {
  display: none;
}
.wngimg:hover .wngimage {
  display: flex;
}
