@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

$default-font: "Montserrat", monospace;

.first-title {
    color: #f5f5f5;
    font-weight: 600;
    font-family: $default-font;
    margin-bottom: 2rem;
    font-size: 3rem;
}

.first-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 8.5rem;
    padding: 0.5rem;
    height: 3.5rem;
    border-radius: 0.35em;
    margin-bottom: 0.35rem;
    background-color: #0a0a0d;
    transition-duration: 0.5ms;
}

.button:hover {
    border-radius: 0em;
}

.github-color {
    background-color: #13181D;
}

.twitter-color {
    background-color: #1DA1F2;
}

.icon {
    width: 2rem;
    margin: 0.25rem;
}

.btn-txt {
    margin: 0.25rem;
    color: #f5f5f5;
    width: 4.5rem;
    height: 2rem;
    text-align: center;
    font-weight: 500;
    font-family: $default-font;
    font-size: 1.25rem;
}