@use "first";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.project {
    width: 80vw;
    height: 23vh;
    border-width: 2px;
    border-radius: 1em;
    margin-bottom: 1em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-part {
    height: 7vh;
    width: 76vw;
    margin: 1vh 1vw;
}

.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    font-family: first.$default-font;
}

.major {
    font-weight: 600;
}

.project-title {
    color: #fefcfb;
    justify-content: space-between;
    padding: 0.5em;
    height: 3.5vh;
}

.project-description {
    height: 10vh;
    margin: 0;
    padding: 0.25em;
}

.project-links {
    padding: 0.25em;
    justify-content: space-evenly;
}

.project-button {
    height: 2em;
    width: 5em;
    font-size: 15px;
    border-radius: 5px;
    border-width: 0.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    border: none;
    color: #fefcfb;
}

.desc {
    color: #fefcfb;
    font-size: 14px;
    font-weight: 500;
}


.light {
    border-color: rgba($color: #1282a2, $alpha: 1.0);
    box-shadow: 0px 0px 10px rgba($color: #1282a2, $alpha: 0.5);
}

.magenta {
    border-color: rgba($color: #e95678, $alpha: 1.0);
    box-shadow: 0px 0px 10px rgba($color: #e95678, $alpha: 0.5);
}

.dark {
    border-color: rgba($color: #001f54, $alpha: 1.0);
    box-shadow: 0px 0px 10px rgba($color: #334f87, $alpha: 0.5);
}

.bg-light {
    background-color: #1282a2;
    box-shadow: 0px 0px 5px rgba($color: #1282a2, $alpha: 0.5);
    color: #fefcfb;
}

.bg-green {
    background-color: #275000; 
    box-shadow: 0px 0px 5px rgba($color: #275000, $alpha: 0.5);
    color: #fefcfb;
}

.bg-dark {
    background-color: #001f54;
    box-shadow: 0px 0px 5px rgba($color: #334f87, $alpha: 0.5);
    color: #fefcfb;
}

.github {
    box-shadow: 0px 0px 10px rgba($color: #353B3F, $alpha: 0.5);
    background-color: #13181D;
}

.star {
    user-select: none;
}