@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

* {
  font-family: Montserrat;
  font-size: 25px;
  color: #f5f5f5;
}
.main {
  background-color: #15212a;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bottom {
  margin-top: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 5em;
}
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 5em;
}
.logoimg {
  width: 3em;
}
.logo {
  width: 3em;
  transition-duration: 1s;
  margin-bottom: 1em;
}
.logo:hover {
  transform: rotate(1turn);
}
