@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@200;300;400;500;600;700;800;900;1000&display=swap");
body {
  font-family: "Montserrat";
  font-weight: 400;
  color: #f5f5f5;
  font-size: 18px;
  scroll-behavior: smooth;
  background-color: #20272c;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 2em;
  margin-top: 3em;
}
.articlelink {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 1em;
}
.articlelink:hover {
  text-decoration: underline;
}
gap {
  height: 1em;
}

a {
  color: #83c886;
  text-decoration: underline dotted;
  transition-duration: 0.3s;
}
a:hover {
  color: #b6fbb9;
}

.article {
  border-radius: 1em;
  border: 0.05em solid #f5f5f5;
  width: 45em;
  height: 15em;
  margin-bottom: 1em;
}
.articletitle {
  font-size: 25px;
  margin-left: 1em;
}
.articletitlediv {
  width: 45em;
  margin-bottom: 0.5em;
}
.datediv {
  width: 45em;
  color: #999999;
  margin-left: 3em;
  margin-bottom: 1em;
}
.resumediv {
  margin-bottom: 0.5em;
  margin-left: 0;
  width: 40em;
}
